/*
@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('fonts/MuseoSans/MuseoSansCyrl-300.eot');
	src: url('fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
		url('fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	}*/

	@font-face {
		font-family: 'Museo Sans Cyrl 100';
		src: url('fonts/MuseoSans/MuseoSansCyrl-100.eot');
		src: url('fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
		url('fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
	}


	:root {
		/*	--font-title: 'Museo Sans Cyrl 300', sans-serif;*/
		--font: 'Museo Sans Cyrl 100', sans-serif;


	}

	* {
		padding: 0;
		margin: 0;
		border: 0;
		outline: none;
		box-sizing: border-box;
		transition: all .3s ease-in-out;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	body, html {
		min-height: 100%;
		width: 100%;
	}

	.clear::after, .clear::before {
		content: " ";
		display: table;
	}

	.clear::after {
		clear: both;
	}

	/* Main Styles */

	body { 
		background: url(../images/bg.jpg) no-repeat;
		background-size: cover; 
		font-family: var(--font);

	}

	.container { 
		width: 100%;
		max-width: 730px;
		margin:0 auto;
		padding: 0 20px;
		background: #111a28;
		margin-top: 110px;
		border-radius: 10px;}

		.header { 
			height: 76px;
			padding: 20px 0 15px 20px;
		}

		.header__logo { 
			display: inline-block;
			justify-content: left;
		}


		.content { 
			display: flex; }

			.product { 
			}

			.product__img { 
				padding: 65px 80px 65px 30px;
			}

			/**/
			.product__variants { 
				display: flex;
				justify-content: space-between;
				width: 75px;
				margin: 0 auto 20px;


			}


			.product__item--is--active { 
				height: 10px;
				width: 10px;
				border-radius: 50%;
				

			}
			    .product__item-grey { 
			    background: #1f273f; }

				.product__item-white {  
					background: #ffffff;
				
				}
				.product__item-red { 
					background: #ed3333;
					
				}
				.product__item-blue { 
					background: #29e3ea;
					
				}

				.product__item--is--active:hover { 
					border: 1px solid #7e838b;
					transform: scale(1.5);}
					/**/

					.description { 
						color: #e1e1e1;
					}

					.description__title { 
						font-size: 24px;
						margin-bottom: 15px;
						letter-spacing: .2;
						font-family: var(--font);

					}
					.description__about { 
						font-size: 14px;
						opacity: .54;
						margin-bottom: 25px;

					}

					.description__stars {
						display: flex;
						margin-bottom: 27px;

					}

					.description__stars--vol { 
						color: #f7bf16;
					}

					.description__stars--vol1 { 
						color: #9da1a6;
					}

					.description__select { 


					}


					.description__select-size,
					.description__select-qty { 
						padding: 10px;
						background: #111a28;
						border:1px solid #4f5560;
						color: #9da1a6;
						margin-bottom: 30px;
					}
					.select__opt {  }


					.select__qty { 
					}

					.description__form{ 
					}


					.description__btn { 
						height: 40px;
						width: 185px;
						border: 1px solid;
						border-color: #4f5560;
						background: #202835;
						color: #9da1a6; 
						cursor: pointer;}